<div class="comment">
<div class="avatar-area">
<img class="avatar"src="http://wwc.alicdn.com/avatar/getAvatar.do?userIdStrV3=BbekuOSEdQtYCnXM%2Bu962w%3D%3D&type=taobao&kn=wwc_review_user_head"/>
</div>
<p>黄金百香果收到，满满一箱很新鲜没有坏果，立马品尝味道好极了，第一次购买这款宝贝，以前都是吃一般普通的百香果，今天吃了这款黄金的，我看以后其他百香果就不爱吃咯，是群里优惠卷购买的，经济实惠好吃不贵，谢谢商家老板！谢谢快递小哥，给你们100点赞！祝㊗️你们生意兴隆财源广进！  - 2020-11-19</p>
<img class="cmt" src="//img.alicdn.com/imgextra/i3/0/O1CN01ULlNR61fP86l0Citn_!!0-rate.jpg" alt="购买百香果用户评论图片_1"/>
</div>
<div class="comment">
<div class="avatar-area">
<img class="avatar"src="http://img.alicdn.com/tps/TB1l6dkOXXXXXXEXVXXXXXXXXXX-210-210.png_70x70.jpg"/>
</div>
<p>水果收到了   和图片相差可以理解    但是快递从我下单到收到货过去了九天     水果有坏果    还有没成熟的    很多都是半个果肉     和客服沟通     客服干脆不理      最差的一次购物 - 2020-11-19</p>
<img class="cmt" src="//img.alicdn.com/imgextra/i4/0/O1CN014LKXjd2BQ6eqjJ7qI_!!0-rate.jpg" alt="购买百香果用户评论图片_2"/>
</div>
<div class="comment">
<div class="avatar-area">
<img class="avatar"src="http://wwc.alicdn.com/avatar/getAvatar.do?userIdStrV3=pGuFDCOERDSdrJxMPLkG8w%3D%3D&type=taobao&kn=wwc_review_user_head"/>
</div>
<p>这个百香果真的好吃，一收到就连吃了三个又香又甜微酸，吃完再买给五星好评。 - 2020-11-18</p>
<img class="cmt" src="//img.alicdn.com/imgextra/i2/0/O1CN01tbkdMt1HsOdboQFdH_!!0-rate.jpg" alt="购买百香果用户评论图片_3"/>
</div>
<div class="comment">
<div class="avatar-area">
<img class="avatar"src="http://img.alicdn.com/tps/TB1l6dkOXXXXXXEXVXXXXXXXXXX-210-210.png_70x70.jpg"/>
</div>
<p>规格重量：缺斤短两，一个小箱子，要不是因为下雨湿了，一定要称称，到底有多重？分量不够，还挺会找理由。售后给2元赔付，不要了  - 2020-11-18</p>
<img class="cmt" src="//img.alicdn.com/imgextra/i3/0/O1CN014jqPBF1WaHCgr81Ys_!!0-rate.jpg" alt="购买百香果用户评论图片_4"/>
</div>
<div class="comment">
<div class="avatar-area">
<img class="avatar"src="http://wwc.alicdn.com/avatar/getAvatar.do?userIdStrV3=nnQyRVDnzz%2B6eIC%2BiuvrCQ%3D%3D&type=taobao&kn=wwc_review_user_head"/>
</div>
<p>看来便宜没好货哦，买回来又小又烂的，太失望了，姐妹们拍的时候注意一下哦 - 2020-11-18</p>
<img class="cmt" src="//img.alicdn.com/imgextra/i3/0/O1CN01crBrxu1buUlcTPqAd_!!0-rate.jpg" alt="购买百香果用户评论图片_5"/>
</div>
<div class="comment">
<div class="avatar-area">
<img class="avatar"src="http://img.alicdn.com/tps/TB1l6dkOXXXXXXEXVXXXXXXXXXX-210-210.png_70x70.jpg"/>
</div>
<p>酸，一点不甜，而且都干巴巴的，还有的都长毛了，联系客服，只截我拍的干巴的果子，绝口不提坏的长毛的， - 2020-11-18</p>
<img class="cmt" src="//img.alicdn.com/imgextra/i4/0/O1CN01W9GvrV2K85cNiwnWF_!!0-rate.jpg" alt="购买百香果用户评论图片_6"/>
</div>
<div class="comment">
<div class="avatar-area">
<img class="avatar"src="http://img.alicdn.com/tps/TB1l6dkOXXXXXXEXVXXXXXXXXXX-210-210.png_70x70.jpg"/>
</div>
<p>上次听朋友说百香果放几天皱了吃更甜，没想到放了几天全部坏了，以前买的放几天都没像这样…☹️ - 2020-11-18</p>
<img class="cmt" src="//img.alicdn.com/imgextra/i4/0/O1CN01TBZfcJ1CtFIMgA3I3_!!0-rate.jpg" alt="购买百香果用户评论图片_7"/>
</div>
<div class="comment">
<div class="avatar-area">
<img class="avatar"src="http://img.alicdn.com/tps/TB1l6dkOXXXXXXEXVXXXXXXXXXX-210-210.png_70x70.jpg"/>
</div>
<p>店铺服务：差的很 发消息很久不回。 快递物流：一般般 规格重量：没称 口感味道：就那样  - 2020-11-18</p>
<img class="cmt" src="//img.alicdn.com/imgextra/i4/0/O1CN01jBrMPd1xOMWlOtjij_!!0-rate.jpg" alt="购买百香果用户评论图片_8"/>
</div>
<div class="comment">
<div class="avatar-area">
<img class="avatar"src="http://img.alicdn.com/tps/TB1l6dkOXXXXXXEXVXXXXXXXXXX-210-210.png_70x70.jpg"/>
</div>
<p>打开包裹就来评价了 和直播间看到的差好多 虽然说是五斤装 也不用装这么小的吧 还没吃不知道味道如何 吃过再来评价  - 2020-11-17</p>
<img class="cmt" src="//img.alicdn.com/imgextra/i2/0/O1CN01BvwWEF1NQoTtkLuDX_!!0-rate.jpg" alt="购买百香果用户评论图片_9"/>
</div>
<div class="comment">
<div class="avatar-area">
<img class="avatar"src="http://wwc.alicdn.com/avatar/getAvatar.do?userIdStrV3=Hx%2Fm90kXYfS%2BRI7i8SUfQg%3D%3D&type=taobao&kn=wwc_review_user_head"/>
</div>
<p>收到54个果，大部分还可以，有几个太小了，手里拿的就有点小，不过尝了一个大果味道还不错！ - 2020-11-17</p>
<img class="cmt" src="//img.alicdn.com/imgextra/i1/0/O1CN01Ev6But1LoVk4cIJKb_!!0-rate.jpg" alt="购买百香果用户评论图片_10"/>
</div>
<div class="comment">
<div class="avatar-area">
<img class="avatar"src="http://wwc.alicdn.com/avatar/getAvatar.do?userIdStrV3=OC75%2BXPHGcQu546kGe%2Fnrw%3D%3D&type=taobao&kn=wwc_review_user_head"/>
</div>
<p>东西不错 卖家态度也好卖家给好评  就是快递态度不好  双十一都知道快递忙  我们理解你  你也理解一下别人  这是水果 不怕坏就不打电话了  第一次快递打这么多字 - 2020-11-17</p>
<img class="cmt" src="//img.alicdn.com/imgextra/i2/0/O1CN01EOTN0x2FWITRPnwII_!!0-rate.jpg" alt="购买百香果用户评论图片_11"/>
</div>
<div class="comment">
<div class="avatar-area">
<img class="avatar"src="http://wwc.alicdn.com/avatar/getAvatar.do?userIdStrV3=XK6r5cZjp3M7m0%2FPuc5h5g%3D%3D&type=taobao&kn=wwc_review_user_head"/>
</div>
<p>百香果收到，不好意思忘记评价了，百香果味道非常好，清香，喜欢，吃完还会再买哟  - 2020-11-16</p>
<img class="cmt" src="//img.alicdn.com/imgextra/i1/0/O1CN01OyGQRX2CQOWUzYIXu_!!0-rate.jpg" alt="购买百香果用户评论图片_12"/>
</div>
<div class="comment">
<div class="avatar-area">
<img class="avatar"src="http://img.alicdn.com/tps/TB1l6dkOXXXXXXEXVXXXXXXXXXX-210-210.png_70x70.jpg"/>
</div>
<p>买的是白皮收到之后打开是黄皮和绿皮，一多半是皱皱的，打开之后闻着挺香吃着挺酸，期盼了很久，打开以后很失望 - 2020-11-15</p>
<img class="cmt" src="//img.alicdn.com/imgextra/i1/0/O1CN010nnayJ1tCDYyFqbmO_!!0-rate.jpg" alt="购买百香果用户评论图片_13"/>
</div>
<div class="comment">
<div class="avatar-area">
<img class="avatar"src="http://wwc.alicdn.com/avatar/getAvatar.do?userIdStrV3=o3BIXlqYnNeD2uKmee0xmg%3D%3D&type=taobao&kn=wwc_review_user_head"/>
</div>
<p>今天晚上刚刚收到我和孩子就消灭了7个太好吃了，很甜一点也不酸太好吃了，满满一大箱子 - 2020-11-14</p>
<img class="cmt" src="//img.alicdn.com/imgextra/i3/0/O1CN01FnBNhd1fZfDTOmdX6_!!0-rate.jpg" alt="购买百香果用户评论图片_14"/>
</div>
<div class="comment">
<div class="avatar-area">
<img class="avatar"src="http://wwc.alicdn.com/avatar/getAvatar.do?userIdStrV3=FBeQx9pIMQ3A1hAvGZpTlg%3D%3D&type=taobao&kn=wwc_review_user_head"/>
</div>
<p>满满的一箱，超多……直接吃也不酸，表皮褶皱的更香甜！！收到货后，我儿子直接就吃了两个，平常怕酸的他也很爱吃……  - 2020-11-13</p>
<img class="cmt" src="//img.alicdn.com/imgextra/i1/0/O1CN01k0Y9pr1CyHeIsW6Qi_!!0-rate.jpg" alt="购买百香果用户评论图片_15"/>
</div>
<div class="comment">
<div class="avatar-area">
<img class="avatar"src="http://wwc.alicdn.com/avatar/getAvatar.do?userIdStrV3=md5wCQM2WR01yA%2BMBb278g%3D%3D&type=taobao&kn=wwc_review_user_head"/>
</div>
<p>物流快，包装好（用泡沫箱装的百香果），收到果子一个坏的都没有，非常满意。果子酸酸甜甜的好吃。  - 2020-11-13</p>
<img class="cmt" src="//img.alicdn.com/imgextra/i1/0/O1CN01CcWSgH1LSz7p0GEUY_!!0-rate.jpg" alt="购买百香果用户评论图片_16"/>
</div>
<div class="comment">
<div class="avatar-area">
<img class="avatar"src="http://wwc.alicdn.com/avatar/getAvatar.do?userIdStrV3=7ZBJYolPMg4S82OP1KjfXw%3D%3D&type=taobao&kn=wwc_review_user_head"/>
</div>
<p>雪高姐直播间拍的 这也太好吃了 挺甜的 我一口气吃了四五个 又给孩子做了果汁 太好喝啦 老公也爱喝 赞赞赞 - 2020-11-11</p>
<img class="cmt" src="//img.alicdn.com/imgextra/i1/0/O1CN01ZKe6ch1VdeVXwv8ui_!!0-rate.jpg" alt="购买百香果用户评论图片_17"/>
</div>
<div class="comment">
<div class="avatar-area">
<img class="avatar"src="http://wwc.alicdn.com/avatar/getAvatar.do?userIdStrV3=nmK089PClKh1aeXRd2xbsQ%3D%3D&type=taobao&kn=wwc_review_user_head"/>
</div>
<p>满满一箱的百香果我太喜欢了！没有坏果，皮子皱的我打开了一个吃着挺甜，很满意的一次购物 - 2020-11-10</p>
<img class="cmt" src="//img.alicdn.com/imgextra/i3/0/O1CN018uSEKy2FXfexQFVGY_!!0-rate.jpg" alt="购买百香果用户评论图片_18"/>
</div>
<div class="comment">
<div class="avatar-area">
<img class="avatar"src="http://wwc.alicdn.com/avatar/getAvatar.do?userIdStrV3=2gck%2F2BDP%2F1Ok06q2uiQnQ%3D%3D&type=taobao&kn=wwc_review_user_head"/>
</div>
<p>非常好吃，下次继续回购！买给爸妈吃的，平时不能多陪陪他们，只能买点好吃好用的东西给她们。 - 2020-11-10</p>
<img class="cmt" src="//img.alicdn.com/imgextra/i1/0/O1CN01rvL0gN1fujR0N14bi_!!0-rate.jpg" alt="购买百香果用户评论图片_19"/>
</div>
<div class="comment">
<div class="avatar-area">
<img class="avatar"src="http://wwc.alicdn.com/avatar/getAvatar.do?userIdStrV3=21usiit1Qy%2FbmFX2nicK0w%3D%3D&type=taobao&kn=wwc_review_user_head"/>
</div>
<p>又又又一次回购，一次能吃掉十个，太好吃了，像加了蜂蜜一样香甜，果子个头均匀，包装不错整箱无坏果，口感也是很新鲜的，这个价格能买到5斤真的很划算，良心商家，五星推荐！ - 2020-11-09</p>
<img class="cmt" src="//img.alicdn.com/imgextra/i2/0/O1CN01oA7eVy1Hl4IhEpHly_!!0-rate.jpg" alt="购买百香果用户评论图片_20"/>
</div>
<div class="comment">
<div class="avatar-area">
<img class="avatar"src="http://img.alicdn.com/tps/TB1l6dkOXXXXXXEXVXXXXXXXXXX-210-210.png_70x70.jpg"/>
</div>
<p>今年买的最好的一次百香果，皮薄肉香，汁很多。个头也大，而且甜蜜，孩子很喜欢，已推荐给朋友。 - 2020-11-08</p>
<img class="cmt" src="//img.alicdn.com/imgextra/i2/0/O1CN01DhzIn21EF3lxm7TWU_!!0-rate.jpg" alt="购买百香果用户评论图片_21"/>
</div>
<div class="comment">
<div class="avatar-area">
<img class="avatar"src="http://wwc.alicdn.com/avatar/getAvatar.do?userIdStrV3=sVlxyGZL%2ByzPf4K2l7Vpcg%3D%3D&type=taobao&kn=wwc_review_user_head"/>
</div>
<p>味道很不错的哦，好喜欢这个味道，闻着很清新，平时吃百香果。第一次尝试果酱，方便快捷味道也太好啦。日期也是最近才生产的，性价比高，自己平时没事待着就喜欢泡一杯喝，放在冰箱的，泡开就是冰冰凉凉的，夏天就得喝冷饮，喝完了再来回购。女儿也超级喜欢喝呐。哈哈哈   - 2020-09-15</p>
<img class="cmt" src="//img.alicdn.com/imgextra/i1/0/O1CN01Rm9sn81Z0V6DZodTX_!!0-rate.jpg" alt="购买百香果用户评论图片_1"/>
</div>
<div class="comment">
<div class="avatar-area">
<img class="avatar"src="http://wwc.alicdn.com/avatar/getAvatar.do?userIdStrV3=kPTmbC63hL9C%2BOdBV2BPcQ%3D%3D&type=taobao&kn=wwc_review_user_head"/>
</div>
<p>快递物流：每个瓶子都有泡沫裹住，完好无损。 口感味道：各个果酱的口味很纯正，没有化学味。 规格重量：足量。 店铺服务：礼貌周到。购物的感觉很好！  - 2020-07-07</p>
<img class="cmt" src="//img.alicdn.com/imgextra/i4/0/O1CN01gHZFdI1cL3iE1qG8k_!!0-rate.jpg" alt="购买百香果用户评论图片_2"/>
</div>
<div class="comment">
<div class="avatar-area">
<img class="avatar"src="http://wwc.alicdn.com/avatar/getAvatar.do?userIdStrV3=QdwYl%2Bbqy%2BUf%2BEzqel%2FyEQ%3D%3D&type=taobao&kn=wwc_review_user_head"/>
</div>
<p>回来就马上做了百香果饮料，有Coco蜂蜜百香果的水平，以后就不愁孩子和其他饮料了，蓝莓准备做蓝莓山药，味道非常纯正，赞一个 - 2020-06-21</p>
<img class="cmt" src="//img.alicdn.com/imgextra/i2/0/O1CN01i9LjwS1N2zr2h4gLI_!!0-rate.jpg" alt="购买百香果用户评论图片_3"/>
</div>
<div class="comment">
<div class="avatar-area">
<img class="avatar"src="http://wwc.alicdn.com/avatar/getAvatar.do?userIdStrV3=jRHvlNO192EcdynYjDiiPw%3D%3D&type=taobao&kn=wwc_review_user_head"/>
</div>
<p>蓝莓，百香果，玫瑰各买了一瓶。包装的很好，玻璃瓶很安全。先开了一瓶蓝莓，味道好极了，口感清新甜度刚刚好，不会太甜。还会回购！ - 2020-06-19</p>
<img class="cmt" src="//img.alicdn.com/imgextra/i2/0/O1CN01jxK7VG2B0uqJtcnKm_!!0-rate.jpg" alt="购买百香果用户评论图片_4"/>
</div>
<div class="comment">
<div class="avatar-area">
<img class="avatar"src="http://wwc.alicdn.com/avatar/getAvatar.do?userIdStrV3=OU1%2F8WrsCPdIJmo6TYJcTQ%3D%3D&type=taobao&kn=wwc_review_user_head"/>
</div>
<p>朋友推荐这家的果酱特纯正，三种口味都买了试一下！老板包装得很严实发货很快。小朋友喜欢蓝莓的。个人喜欢玫瑰酱放冰过的原味酸奶，在大夏天真是绝味～～ 还有冰镇百香果酱泡水，消暑必备！ - 2020-06-15</p>
<img class="cmt" src="//img.alicdn.com/imgextra/i4/0/O1CN01yVJdfh1Pcq52wAuvt_!!0-rate.jpg" alt="购买百香果用户评论图片_5"/>
</div>
<div class="comment">
<div class="avatar-area">
<img class="avatar"src="http://wwc.alicdn.com/avatar/getAvatar.do?userIdStrV3=Lq6JfBU9k6Kd9O5hqvNvvQ%3D%3D&type=taobao&kn=wwc_review_user_head"/>
</div>
<p>果酱收到真是觉得惊喜，包装严实，蓝莓果酱太美味，比朋友给我从加拿大带回来的好吃太多！最喜欢玫瑰的，甜酸适度，满满玫瑰花香，爱不释口！百香果还没开，开完再来评价！值得回购！  - 2020-06-14</p>
<img class="cmt" src="//img.alicdn.com/imgextra/i1/0/O1CN01Pq5M891pkmxsvmQ1b_!!0-rate.jpg" alt="购买百香果用户评论图片_6"/>
</div>
<div class="comment">
<div class="avatar-area">
<img class="avatar"src="http://img.alicdn.com/tps/TB1l6dkOXXXXXXEXVXXXXXXXXXX-210-210.png_70x70.jpg"/>
</div>
<p>店铺服务态度好，发货快，物流也快。买了三同口味三大瓶。看来各有特色，都好吃。百香果的香味较浓，酸酸甜甜的，合我的口味，可冲水喝。每瓶250克。  - 2020-06-14</p>
<img class="cmt" src="//img.alicdn.com/imgextra/i3/0/O1CN0125u0OQ1vhTnTBw3hm_!!0-rate.jpg" alt="购买百香果用户评论图片_7"/>
</div>
<div class="comment">
<div class="avatar-area">
<img class="avatar"src="http://wwc.alicdn.com/avatar/getAvatar.do?userIdStrV3=5JbXA%2FmLAdxOTsS9RNkbUw%3D%3D&type=taobao&kn=wwc_review_user_head"/>
</div>
<p>买了蜂蜜百香果，玫瑰，蓝莓三种口味，满满的果肉，看得出用料很新鲜，非常不错。蜂蜜百香果酸酸甜甜，玫瑰味的花香浓郁，蓝莓味的可以看到大块的果肉。小朋友非常喜欢蓝莓味的，爱吃甜的可以选玫瑰味，个人比较钟爱百香果的酸甜味，泡水、做冷饮都不错😊。我平时很少写评价，这个真心强烈推荐。 - 2020-06-11</p>
<img class="cmt" src="//img.alicdn.com/imgextra/i1/0/O1CN01eFkdMr2HcMvO4ht3t_!!0-rate.jpg" alt="购买百香果用户评论图片_8"/>
</div>
<div class="comment">
<div class="avatar-area">
<img class="avatar"src="http://wwc.alicdn.com/avatar/getAvatar.do?userIdStrV3=%2FhTb4tENnRwkqojp8mJ%2F2A%3D%3D&type=taobao&kn=wwc_review_user_head"/>
</div>
<p>棒棒的，尤其是配上蜂蜜，绝佳组合，夏天来一杯，酸酸甜甜有滋有味，是真的，没有半点夸张，为商家点赞  - 2020-06-09</p>
<img class="cmt" src="//img.alicdn.com/imgextra/i4/0/O1CN01Uk6rpV22d5J7vfQkm_!!0-rate.jpg" alt="购买百香果用户评论图片_9"/>
</div>
<div class="comment">
<div class="avatar-area">
<img class="avatar"src="http://wwc.alicdn.com/avatar/getAvatar.do?userIdStrV3=9wjna2wtzk8bn%2FGY38dWHQ%3D%3D&type=taobao&kn=wwc_review_user_head"/>
</div>
<p>吃货好友强烈推荐的，说这家的果酱无添加而且口味纯正，因为家里小朋友喜欢吃果酱，所以买来尝尝，果然不失所望，个人最喜欢玫瑰酱，配酸奶非常正，两个宝贝喜欢蓝莓酱，配面包又方便又可口，百香果的用来冲饮，放冰箱冷藏一下，又健康又好喝，吃货朋友的推荐果然靠谱👍 - 2020-06-08</p>
<img class="cmt" src="//img.alicdn.com/imgextra/i3/0/O1CN01kHvtGS2IeUNCep7KD_!!0-rate.jpg" alt="购买百香果用户评论图片_10"/>
</div>
<div class="comment">
<div class="avatar-area">
<img class="avatar"src="http://img.alicdn.com/tps/TB1l6dkOXXXXXXEXVXXXXXXXXXX-210-210.png_70x70.jpg"/>
</div>
<p>果酱到了都搜了…  客服是机器人么…  老顾客了，会故意说你东西有问题嘛？？ 几十块毫无担当，细节见人品，人品见商品   - 2020-06-06</p>
<img class="cmt" src="//img.alicdn.com/imgextra/i3/0/O1CN01XKXp2h1iE5N7dKOnN_!!0-rate.jpg" alt="购买百香果用户评论图片_11"/>
</div>
<div class="comment">
<div class="avatar-area">
<img class="avatar"src="http://wwc.alicdn.com/avatar/getAvatar.do?userIdStrV3=o9F5puQaTVfV44I%2BkLG6CQ%3D%3D&type=taobao&kn=wwc_review_user_head"/>
</div>
<p>店铺服务：卖家推荐很详细，态度服务好 快递物流：两天就到货，包装很完整 规格重量：固体成分，柠檬的还有柠檬片，自己在家做不出这个口感，天然零添加 口感味道：泡水喝甜度刚刚好，可以根据个人口味调剂，本人喜欢柠檬的味道，百香果富含人体所需的氨基酸、多种维生素、类胡萝卜素等等，被称为水果中的维生素C之王，回购回购回购  - 2020-06-03</p>
<img class="cmt" src="//img.alicdn.com/imgextra/i3/0/O1CN01D061xo294SflyaOB1_!!0-rate.jpg" alt="购买百香果用户评论图片_12"/>
</div>
<div class="comment">
<div class="avatar-area">
<img class="avatar"src="http://wwc.alicdn.com/avatar/getAvatar.do?userIdStrV3=jyXXs2GIWYjR4MusTzrq9A%3D%3D&type=taobao&kn=wwc_review_user_head"/>
</div>
<p>刚收到货就迫不及待冲了一杯，味道很好，很好喝，会回购的。买之前担心不好喝，就先买一瓶试试，收到货品尝之后果然没失望，很好！ - 2020-06-02</p>
<img class="cmt" src="//img.alicdn.com/imgextra/i3/0/O1CN01tM5IaN1VmM07iXO6E_!!0-rate.jpg" alt="购买百香果用户评论图片_13"/>
</div>
<div class="comment">
<div class="avatar-area">
<img class="avatar"src="http://wwc.alicdn.com/avatar/getAvatar.do?userIdStrV3=SS7%2FZqWzxSFjlhQQ%2BNbopA%3D%3D&type=taobao&kn=wwc_review_user_head"/>
</div>
<p>良心卖家！包装实物都没的说！泡水，抹面包都很好的！赞赞赞赞！希望下次能多优惠哦！ - 2020-04-13</p>
<img class="cmt" src="//img.alicdn.com/imgextra/i4/0/O1CN01cOXWTv1kqDZL3btbu_!!0-rate.jpg" alt="购买百香果用户评论图片_14"/>
</div>
<div class="comment">
<div class="avatar-area">
<img class="avatar"src="http://wwc.alicdn.com/avatar/getAvatar.do?userIdStrV3=fnJYpzdhTjVV0eJgCgmF5A%3D%3D&type=taobao&kn=wwc_review_user_head"/>
</div>
<p>厂家发货快！一直只吃新鲜果酸酸甜甜的很好吃😋又想喝一杯果饮就试试这果酱。没想到味道没变只是多了点香甜感觉很好👍🏻闲暇时光来一杯惬意人生！店家服务态度也好👍🏻主要是产品不含任何添加剂。味道不错👍🏻下次再光顾。 - 2020-04-13</p>
<img class="cmt" src="//img.alicdn.com/imgextra/i1/0/O1CN01BlILqQ1rKLJfeAvlw_!!0-rate.jpg" alt="购买百香果用户评论图片_15"/>
</div>
<div class="comment">
<div class="avatar-area">
<img class="avatar"src="http://wwc.alicdn.com/avatar/getAvatar.do?userIdStrV3=wgoY6UuFxw5sUZLZSik80A%3D%3D&type=taobao&kn=wwc_review_user_head"/>
</div>
<p>包装很严实，一打开就有一股浓郁的果香，泡水连喝了两天才来评价，味道酸酸甜甜的，是喜欢的口感，满满的VC，喝完感觉皮肤都白了 - 2020-03-29</p>
<img class="cmt" src="//img.alicdn.com/imgextra/i4/0/O1CN01sDZpqd1bxF6FbKoeF_!!0-rate.jpg" alt="购买百香果用户评论图片_16"/>
</div>
<div class="comment">
<div class="avatar-area">
<img class="avatar"src="http://wwc.alicdn.com/avatar/getAvatar.do?userIdStrV3=t%2BkaMJkphH6mhlh1mGJM3Q%3D%3D&type=taobao&kn=wwc_review_user_head"/>
</div>
<p>果酱收到了哟 包装的很精美  而且日期也是很新鲜的 泡水喝甜度正好合适 而且价格也挺便宜的 下次还会回购的 - 2020-03-09</p>
<img class="cmt" src="//img.alicdn.com/imgextra/i2/0/O1CN01FdEMFw1njIQMARhcJ_!!0-rate.jpg" alt="购买百香果用户评论图片_17"/>
</div>

