%footer
  .container
    .fr
      .fr-9
        %p 
          %strong 友情链接：
        %p
          - @links.each do |link|
            %a{href: "#{link.url}", target: "_blank"} #{link.anchor}
      .fr-3
        %p 本站每日更新中，将为您提供百香果更多内容！
        %p{style: "text-align:right;"} —— www.jidanguo.top
    %p{style: "text-align:center;"}
      www.jidanguo.top  - 
      %a{href: "https://beian.miit.gov.cn/", target: "_blank", ref:"nofollow", style: "color:#FF472B;"}京ICP备17027610号-4
