- title('百香果果汁之王_百香果【功效/作用/禁忌/营养价值/怎么吃】_鸡蛋果TOP')
- keywords('百香果,鸡蛋果,鸡蛋果和百香果的区别,鸡蛋果的功效与作用,鸡蛋果的营养价值,鸡蛋果怎么吃,水果鸡蛋果,鸡蛋果多少钱一斤,鸡蛋果的功效和禁忌,百香果的籽可以吃吗,百香果一天吃几个最好') 
- head_desc('百香果又叫鸡蛋果，果汁含量特别高，被大家称为【果汁之王】。本站为大家提供百香果(鸡蛋果)大家关注问题的解答：百香果和鸡蛋果的区别？百香果的吃法？百香果的功效与作用？百香果多少钱一斤？等等问题。有关百香果的各种信息查询，请看鸡蛋果TOP www.jidanguo.top')

= render partial: "header"

.container.fr
  .fr-8
    .home-bang
      %p.fr-title
        百香果销量榜
        %span.fr-more 查看更多
      .goods-area
        .goods
          %img.pic{src: "https://img.alicdn.com/bao/uploaded/i2/1995786020/O1CN01rGQIzn1uLCtx7CI8A_!!0-item_pic.jpg"}
          %p.t1 王小二的旗舰店
          %p.t2 
            福建 漳州 
            %span{style: "float:right;color:red;"}7776
            %span{style: "float:right;"}月销：
          .bang-order 1
    .home-all
      .tags
        %a.active 精选
      .product-area
        .product
          %img.pic{src: "https://t00img.yangkeduo.com/goods/images/2019-11-28/21a326b6021ed86c0f7e4181224827d5.jpeg"}
          %p.t1 美肤宝朱正廷水薄清透隔离防晒霜50二合一秋冬面部女学生防紫外线
          %p.t2{style: "padding-top: 12px;"}
            %span.tag 天猫
            %span{style: "float:right;"}7776
            %span{style: "float:right;"}月销：
          %p.t2
            价格 ￥
            %span.price 19.6
          .lg 百香果
        .product
          %img.pic{src: "https://t00img.yangkeduo.com/goods/images/2019-11-28/21a326b6021ed86c0f7e4181224827d5.jpeg"}
          %p.t1 美肤宝朱正廷水薄清透隔离防晒霜50二合一秋冬面部女学生防紫外线
          %p.t2{style: "padding-top: 12px;"}
            %span.tag 天猫
            %span{style: "float:right;"}7776
            %span{style: "float:right;"}月销：
          %p.t2
            价格 ￥
            %span.price 19.6
          .lg 百香果
        .product
          %img.pic{src: "https://t00img.yangkeduo.com/goods/images/2019-11-28/21a326b6021ed86c0f7e4181224827d5.jpeg"}
          %p.t1 美肤宝朱正廷水薄清透隔离防晒霜50二合一秋冬面部女学生防紫外线
          %p.t2{style: "padding-top: 12px;"}
            %span.tag 天猫
            %span{style: "float:right;"}7776
            %span{style: "float:right;"}月销：
          %p.t2
            价格 ￥
            %span.price 19.6
          .lg 百香果
        .product
          %img.pic{src: "https://t00img.yangkeduo.com/goods/images/2019-11-28/21a326b6021ed86c0f7e4181224827d5.jpeg"}
          %p.t1 美肤宝朱正廷水薄清透隔离防晒霜50二合一秋冬面部女学生防紫外线
          %p.t2{style: "padding-top: 12px;"}
            %span.tag 天猫
            %span{style: "float:right;"}7776
            %span{style: "float:right;"}月销：
          %p.t2
            价格 ￥
            %span.price 19.6
          .lg 百香果
        .product
          %img.pic{src: "https://t00img.yangkeduo.com/goods/images/2019-11-28/21a326b6021ed86c0f7e4181224827d5.jpeg"}
          %p.t1 美肤宝朱正廷水薄清透隔离防晒霜50二合一秋冬面部女学生防紫外线
          %p.t2{style: "padding-top: 12px;"}
            %span.tag 天猫
            %span{style: "float:right;"}7776
            %span{style: "float:right;"}月销：
          %p.t2
            价格 ￥
            %span.price 19.6
          .lg 百香果
        .product
          %img.pic{src: "https://t00img.yangkeduo.com/goods/images/2019-11-28/21a326b6021ed86c0f7e4181224827d5.jpeg"}
          %p.t1 美肤宝朱正廷水薄清透隔离防晒霜50二合一秋冬面部女学生防紫外线
          %p.t2{style: "padding-top: 12px;"}
            %span.tag 天猫
            %span{style: "float:right;"}7776
            %span{style: "float:right;"}月销：
          %p.t2
            价格 ￥
            %span.price 19.6
          .lg 百香果
        .product
          %img.pic{src: "https://t00img.yangkeduo.com/goods/images/2019-11-28/21a326b6021ed86c0f7e4181224827d5.jpeg"}
          %p.t1 美肤宝朱正廷水薄清透隔离防晒霜50二合一秋冬面部女学生防紫外线
          %p.t2{style: "padding-top: 12px;"}
            %span.tag 天猫
            %span{style: "float:right;"}7776
            %span{style: "float:right;"}月销：
          %p.t2
            价格 ￥
            %span.price 19.6
          .lg 百香果
        .product
          %img.pic{src: "https://t00img.yangkeduo.com/goods/images/2019-11-28/21a326b6021ed86c0f7e4181224827d5.jpeg"}
          %p.t1 美肤宝朱正廷水薄清透隔离防晒霜50二合一秋冬面部女学生防紫外线
          %p.t2{style: "padding-top: 12px;"}
            %span.tag 天猫
            %span{style: "float:right;"}7776
            %span{style: "float:right;"}月销：
          %p.t2
            价格 ￥
            %span.price 19.6
          .lg 百香果
  .fr-4
    .right-area
      .fr-title 网站说明
      .content
        %p lsdfjkasdfjlaskdfjals
        %p lsdfjkasdfjlaskdfjals
        %p lsdfjkasdfjlaskdfjals
        %p lsdfjkasdfjlaskdfjals
        %p lsdfjkasdfjlaskdfjals
    .right-area
      .fr-title 网站说明
      .content
        %p lsdfjkasdfjlaskdfjals
        %p lsdfjkasdfjlaskdfjals
        %p lsdfjkasdfjlaskdfjals
        %p lsdfjkasdfjlaskdfjals
        %p lsdfjkasdfjlaskdfjals
    .right-area
      .fr-title 网站说明
      .content
        %p lsdfjkasdfjlaskdfjals
        %p lsdfjkasdfjlaskdfjals
        %p lsdfjkasdfjlaskdfjals
        %p lsdfjkasdfjlaskdfjals
        %p lsdfjkasdfjlaskdfjals
= render partial: "footer"
