<footer class="footer">
  <div class="footer-top">
    <div class="wrapper">
      <div class="yl">
        <p class="head">Friend Links:</p>
        <div class="yl-links">
          <a href="/">uucoupon home</a>
        </div>
      </div>
      <div class="logo-slogan">
        <div class="txt">
          <p class="s1">Coupons & Promo Codes</p>
          <p class="s2">Hot Promotions</p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bootom">
    <div class="wrapper">
      <p>UUCoupon - AliExpress & Amazone Coupons And Promo Codes</p>
    </div>
  </div>
</footer>
