.zk-content{
    width: 780px;
    height: 260px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 4px rgba(0,0,0,.1);
}
.zk-content .img-area{
    float: left;
    width: 260px;
    height: 260px;
    background-color: #f4f4f4;
}
.zk-content .img-area img{
    width: 100%;
}
.zk-content .info-area{
    float: left;
    width: 500px;
    padding-left: 20px;
}
.zk-content .info-area .title{
    font-size: 20px;
    line-height: 34px;
    height: 34px;
    overflow: hidden;
    color: #444;
    font-weight: normal;
}
.zk-content .info-area .title span{
    position: relative;
    top: -3px;
    display: inline-block;
    width: 36px;
    height: 20px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    line-height: 20px;
    background-color: #FFA248;
    margin-right: 7px;
}
.zk-content .info-area .endtime{
    height: 22px;
    padding-top: 10px;
    font-size: 16px;
    color: #999;
}
.zk-content .info-area .endtime em{
    font-style: normal;
    color: #FD6363;
    padding: 0 3px;
}
.zk-content .info-area .platform{
    height: 20px;
    padding-top: 15px;
    font-size: 16px;
    color: #a9a9a9;
    line-height: 20px;
}
.zk-content .info-area .platform i{
    position: relative;
    top: 4px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: center no-repeat;
    background-size: 20px 20px;
    margin-right: 6px;
}
.zk-content .info-area .stat{
    padding-top: 20px;
    height: 81px;
}
.zk-content .info-area .stat .price-area{
    float: left;
}
.zk-content .info-area .stat .price-area .ori-price{
    display: block;
    font-size: 16px;
    line-height: 30px;
    height: 30px;
    color: #999;
}
.zk-content .info-area .stat .price-area .price{
    position: relative;
    display: block;
    font-family: 'Arial';
    color: #FF2B22;
    font-size: 20px;
    line-height: 40px;
    font-weight: bold;
}
.zk-content .info-area .stat .price-area .price i {
    position: absolute;
    bottom: 15px;
    right: -64px;
    width: 60px;
    height: 24px;
    font-size: 14px;
    font-style: normal;
    color: #fff;
    line-height: 24px;
    text-align: center;
    background-color: #FF2B22;
}
.zk-content .info-area .stat .price-area .price i:after{
    position: absolute;
    display: table;
    content: '';
    width: 0;
    left: 0;
    border: 3px solid transparent;
    border-right-color: #FF2B22;
    left: -6px;
    top: 9px;
}
.zk-content .info-area .stat .price-area .price em.int{
    font-style: normal;
    font-size: 50px;
    line-height: 50px;
    padding-left: 5px;
}
.zk-content .info-area .stat .price-area .price em.decimal{
    font-style: normal;
    font-size: 30px;
    line-height: 50px;
}
.zk-content .info-area .stat .buy-area{
    float: right;
    width: 230px;
    height: 84px;
}
.zk-content .info-area .stat .buy-area .desc{
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 5px;
    color: #787878;
    text-align: center;
}
.zk-content .info-area .stat .buy-area .buy-btn{
    position: relative;
    display: block;
    width: 214px;
    height: 52px;
    background-color: #FF2220;
    font-size: 20px;
    line-height: 48px;
    color: #fff;
    font-weight: bold;
    margin-left: 5px;
    text-align: center;
}
.zk-content .info-area .stat .buy-area .buy-btn .line{
    position: absolute;
    width: 4px;
    height: 48px;
}
.zk-content .info-area .stat .buy-area .buy-btn .line.line-l{
    left: -2px;
}
.zk-content .info-area .stat .buy-area .buy-btn .line.line-r{
    right: -2px;
}
.zk-content .info-area .stat .buy-area .buy-btn .line i{
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 4px;
    background-color: #fff;
    margin-top: 3px;
}
.zk-content .info-area .stat .buy-area .buy-btn em{
    font-size: 30px;
    font-style: normal;
    color: #FFFA00;
    padding: 0 5px;
}
.zk-content{
  width: 1100px;
  height: 350px;
}

.zk-content .img-area{
  height: 350px;
  width: 350px;
}

.zk-content .info-area{
  width: 680px;
}

.zk-content .small-img-area{
  height: 108px;
  padding-top: 20px;
}

.zk-content .small-img-area img{
  height: 100px;
  width: 100px;
  float: left;
  margin-left: 10px;
  border: 1px solid #fff;
}

.zk-content .small-img-area img:hover{
  border: 1px solid #FF2B22;
  cursor: pointer;
}

.zk-content .recommend{
  color:#FF2B22;
  margin-top:10px;
  height:42px;
  overflow: hidden;
}

.zk-content .info-area .platform{
  padding-top: 25px;
}

.zk-content .info-area .stat{
  padding-top: 0;
}

.zk-content .info-area .price-area{
  margin-top: 30px;
}

.zk-content .oprice{
  color: #666;
  text-decoration: line-through;
}
