.filter
  .type{id: "t1", data: {sort: 1}}
    %a{href: "javascript:;"} Best Match
  .type{id: "t2", data: {sort: 2}}
    %a{href: "javascript:;"} Orders
  .type{id: "tt3", data: {sort: 3}}
    %a{id: "t3", href: "javascript:;"} Price
.platform-filter
  %div{style: "float:right;"}
    .radio{style: "float:right;", onclick: "go_amazon_s();"}
      %input{id: "radio_2", name: "platform", type: "radio", value: "2"}
      %label.radio-label{for: "radio_2"} &nbsp;Amazon
    .radio{style: "float:right;"}
      %input{id: "radio_1", name: "platform", type: "radio", value: "1"}
      %label.radio-label{for: "radio_1"} &nbsp;AliExpress
