.filter
  .type{id: "t1", data: {sort: 1}}
    %a{href: "javascript:;"} 综合
  .type{id: "t2", data: {sort: 2}}
    %a{href: "javascript:;"} 销量
  .type{id: "t5", data: {sort: 5}}
    %a{href: "javascript:;"} 推荐
  .type{id: "tt3", data: {sort: 3}}
    %a{id: "t3", href: "javascript:;"} 价格
.platform-filter
  %div{style: "float:left;padding:5px 0 5px 20px;height:30px;"}
    %input#li-q-switch.switch{type: "checkbox", style: "font-size: 20px;"}
  %div#li-q{style: "float:left;padding-left:10px;"} 只看券
  %div{style: "float:right;"}
    .radio{style: "float:right;"}
      %input{id: "radio_3", name: "platform", type: "radio", value: "3"}
      %label.radio-label{for: "radio_3"} &nbsp;拼多多
    .radio{style: "float:right;"}
      %input{id: "radio_2", name: "platform", type: "radio", value: "2"}
      %label.radio-label{for: "radio_2"} &nbsp;京东
    .radio{style: "float:right;"}
      %input{id: "radio_1", name: "platform", type: "radio", value: "1"}
      %label.radio-label{for: "radio_1"} &nbsp;淘宝
