%footer.footer
  .footer-top
    .wrapper
      .yl
        %p.head 友情链接：
        .yl-links
          %a{href: "/meizhuang/", target: "_blank"} 美妆个护
          %a{href: "/peishi/", target: "_blank"} 饰品配饰
          - if links
            - links.each do |link|
              %a{href: "#{link[:url]}", target: "_blank"} #{link[:anchor]}
      .logo-slogan
        .qr-code
          %a{href: "/", title: "优惠券"}
            %img{src: "/image/love.jpg"}
        .txt
          %p.s1 淘宝优惠券天猫优惠券 
          %p.s2 领券找券-爱券网
  .footer-bottom
    .wrapper
      %p 
        爱券网 - 
        %a{href: "http://www.beian.miit.gov.cn/", target: "_blank", rel: "nofollow", style: "color: #ff6a00;"}京ICP备17027610号
