- title("爱潮牌 - 时尚潮牌汇,明星潮牌购物网")
- head_desc("爱潮牌 - 潮牌有哪些？爱潮牌汇集全球十大潮牌，中国十大最受欢迎潮牌，日本潮牌等正品网站网店，不一样的男装、女装潮牌,无论国内原创还是国外国际、日本、欧美时尚服饰、鞋、双肩包背包潮牌、明星潮牌，本站都有推荐。")
- keywords("潮牌,爱潮牌,中国十大最受欢迎潮牌,潮牌购物网,潮牌大全,潮牌有哪些,全球十大潮牌,日本潮牌,明星潮牌,日本潮牌,潮牌有哪些,潮牌汇,美乐淘,潮牌网店,男装潮牌,女装潮牌,国内潮牌")

%article.container
  .row
    .col-md-12
      %h1.page-header 爱潮牌
      %p.content 
        爱潮牌 - 潮牌有哪些？爱潮牌汇集全球十大潮牌，中国十大最受欢迎潮牌，日本潮牌等正品网站网店，不一样的男装、女装潮牌,无论国内原创还是国外国际、日本、欧美时尚服饰、鞋、双肩包背包潮牌、明星潮牌，本站都有推荐。
        %a{href: "http://www.tengyuntaoke.com", target: "_blank"} 淘客助手
        %a{href: "http://www.xiongmao123.com", target: "_blank"} 熊猫优选
        %a{href: "http://www.gouwuzhinan.cn", target: "_blank"} 购物指南
        %a{href: "http://www.zhequan.cc", target: "_blank"} 折券
        %a{href: "http://www.iquan.net", target: "_blank"} 找券网
        %a{href: "http://www.shikuaigou.com", target: "_blank"} 十元包邮

      %h2.page-header 潮牌百科
      %p.content 潮牌，多指一些原创品牌有自己的设计，张扬设计师的独特思想品格、风格和生活态度，整体商品感觉被人认可为潮品的品牌。

      %h2.page-header 全球十大潮牌
      %p.content 
        %strong WEALTHY PERFUME
        %br
        WEALTHY PERFUME是一个新晋潮牌，由WPLUX于2011年创立，主打TEE款和配饰，深受内地潮流爱好者欢迎。风格以黑暗、浮夸为主，在国内原创品牌这块做的算比较不错了。
      %p.content
        %strong BEGINS
        %br
        以“Begins to Live”为Slogan、以“开始、本原、生活”作为原创精神，与北京潮流地标接壤的同时，也志在将青春、朝气、前卫、自我等生活态度和时尚主张注入潮流文化之中，令当下每一位有自我意识、追求潮流、有乐观生活态度的年轻人都能在Begins得到认同感和归属感。它为北京时尚圈增添了一道清新亮眼的风景。Begins有三位主理人，其中周笔畅（著名歌手）为设计总监，主要负责品牌的设计工作；林子君（街头文化意见领袖）则作为店铺品牌负责人，管理店铺的日常事宜；程旸（《型格》杂志主编，中国球鞋圈与潮流圈资深专业人士）则是店铺及品牌宣传主管。

      %p.content
        %strong STAY REAL
        %br
        StayReal是五月天阿信和他的高中死党不二良一起设计的服装品牌 ，来自台湾， 现已成为台湾许多明星喜爱的服饰。
        「设计源自于对事物的不满」 ：
        自从2013年开始与阿信共同合作设计
        有趣的项链式musiQ MP3随身听以及Jr.Q(小Q)公仔
        我们两个像着魔似的
        开始对生活中的事物越来越挑剔
        原因是满脑子想着设计改造各种东西的可能性
        有一天我们在自己的StayReal设计工作室
        我正想着如何设计一个机器猫来捉鼠标
        阿信看着自己身上的T-shirt
        突然说要是我们可以一直穿自己设计的衣服这样一定很棒!
        我放下发呆的大脑
        觉得真是个无限美好的想法
        于是
        经过一连串的发想+讨论+修正+实验+打样+试版
        终于让阿信在拍摄"离开地球表面"开场电影时
        穿上我们StayReal的第一款正式完成T-shirt （By 不二良）
      %p.content
        %strong LILBETTER
        %br
        LILBETTER创立于2005年，由当时名噪一时的时尚设计师容家骏先生一手创立。源自潮流而又不拘于潮流，身在时尚而又区别于时尚是LILBETTER从始至终的设计理念。寻常的潮牌及其设计师擅长的是追寻潮流的脚步，而LILBETTER的设计师却截然不同。“每天进步一点",恰好是”LILBETTER"的最直白表现的观念。LILBETTER以BASIC和TREND两大方向为主打，BASIC在经典之中推陈出新，不落窠臼，简约大方，将古典贵族风与中国现代时尚元素相结合，打造出另类的品味。此外，TREND采纳时装界顶级盛宴的意大利秀场每季的潮流元素，融入奇思妙想的设计理念，开立出卓尔不群的全新款型。
      %p.content
        %strong THETHING
        %br
        潮流设计品牌THETHING于2005年在上海正式创立。创立初期就已凭借其出众的GRAPHIC幽默设计，在潮流领域圈中占有一席之地。几年发展下来，THETHING正悄悄改变着自己的脸孔，虽然依然沿袭GRAPHIC为设计核心的理念，但已摆脱了过去单纯倚靠图案设计的局面，逐渐向整体造型及搭配方向转变，而今已成为中国本土潮流服装领域的知名设计品牌，并获得了众多明星的喜爱。THETHING深信，创意无处不在，一切情绪、态度及文化都可以通过独到的设计语言去诠释。新一季的系列THETHING在欧美绅士风的基础上玩味细节元素，将更多的个性、真我通过THETHING式幽默去表达。

      %p.content
        %strong Bape
        %br
        日本算是亚洲的顶级潮流地，它的A BATHING APE 意为不怀霸气和欲望,安于现状平静地生活的猿人。Bape是本人最喜欢的一个牌子,哈.从头像就能看出来啦，猿人头。它有自己的见解和主张，引领着街头潮流。
      %p.content
        %strong NUMBER(N)INE
        %br
        NUMBER(N)INE听说是因为木村拓哉穿着此品牌而在日本走红的～ GOODENOUGH 不认识潮牌可以，但认识潮牌就不能不认识藤原浩。
      %p.content
        %strong HIXSEPT
        %br
        HIXSEPT法国潮牌，1999年由Aurélien Arbet和Jérémie Egry两人创设，2007年开始推出时装系列，
        以涂鸦艺术融合时装设计闻名时尚界。
        由Aurélien Arbet和Jérémie Egry两人创设於1999年的法国街牌，2007年开始推出时装系列，以涂鸦艺术融合时装设计闻名时尚界，并率先尝试与其他艺术、平面设计、摄影等不同领域的创意先驱合作，他们不断尝试平面设计和服装设计的混合艺术.品牌本身总是喜欢伴随着行为艺的术创造和表现，周围环境造就了品牌和它的态度,hixsept认为时装就是一种媒介，hixsept每年都会推出限量版系列，如09年秋冬季的“You Know You Know” 系列，设计师用上几何图形之一的三角型为主要设计要素，将繁多的三角型组合再组合。这个系列的每样商品都限量150件。创新的设计和良好的手工扎染使得hixsept限量发售的作品尤为珍贵，在欧洲很受时尚潮人和艺术青年们的追捧。
      %p.content
        %strong DUKE RABBIT
        %br
        中国卡通潮牌“兔公爵”DUKE RABBIT
        由中国著名卡通形象设计人、漫画家白松设计，并在2010年成立的服装厂牌。
        联合圈内及其他知名策划人、摄影、模特、明星联合打造而成，还未上市就已经拿到60万条订单，2011年底联手著名生物科技制造商——海岚星，打造女性精华胶原蛋白系列品牌，从而成功从女性内衣到女性保健美容品的跨度，兔公爵成为中国最为知名的卡通潮牌而成为众多知名企业争抢的品牌。
      %p.content
        %strong ZHUAIMAO拽猫
        %br
        拽猫是由东莞市漫彩文化传播有限公司推出的一个潮流卡通品牌。
        拽猫专注国际潮流动向、融入中国新青年的玩味文化以及潮流元素，从而建立起个性鲜明的中国潮流卡通品牌。拽猫将80、90后新生一代的中国青年的坚强自信、独立自主的生活态度定义为“拽”，努力刻画和构建着他们精神世界，坚持自己的处事方式、拒绝平庸，反映当今中国新一代青年坚强独立，勇于展现自我，追求卓越的内心世界。
        拽猫致力成为中国青少年潮流的方向以及代表他们内在身份识别的潮流卡通品牌。
        拽猫的品牌精髓为：拒绝驯化·做我自己
        拽猫是专为“拒绝驯化·做我自己”的新青年生活态度所创作的卡通品牌，坚持自我风格是zhuaimao的设计哲学，得力于多年来的卡通创作经验，设计师对拽猫品牌的精准定位及出色的形象设计，在多次不断的修改中，逐步形成独树一帜的拽猫风格。
        秉承不断创新的理念，突出新生代年轻人的个性需求，将潮流和卡通融合一起，非常规的设计思维，苛刻的细节和精致的工艺结合，嘻哈玩味的创意亮点和简约舒适的风格并存，则是拽猫个性设计追求的精髓所在2013年拽猫在潮流指标的香港推出时就获得了消费者喜爱！2014年拽猫将持续拓展香港、台湾与国内市场，让更多人能更直接感受拽猫的创作魅力！

      %h2.page-header 明星潮牌
      %p.content 
        李晨 潘玮柏NEW PROJECT CENTER (NPC)
        %br
        谢娜 欢型
        %br
        唐笑HONEY MU
        %br
        罗志祥STAGE
        %br
        黄鸿升A.E.S(alien evolution studio)
        %br
        五月天阿信STAYREAL
        %br
        陈冠希 CLOT

      %h2.page-header 美乐淘
      %p.content 潮牌有哪些?美乐淘潮牌汇收集不一样的男装、女装潮牌,无论国内原创还是国外国际、日本、欧美时尚服饰、鞋、双肩包背包潮牌,推荐正品网站网店。

      %h2.page-header 中国十大最受欢迎潮牌
      %p.content 
        STAGE，全名为Stage Hyaline of World(世界透明的舞台),品牌创立于2006年，不断以创新、突破的原创理念，注入潮流时尚设计。STAGE一贯的设计理念「Trend equal to zero(nothing)，STAGE equal YOU潮流等于零，STAGE等于你」的品牌坚持，STAGE深知每个人都希望拥有自我的风格，因此STAGE一直不断突破，追求更高水...
        %br
        名称：Clot　创建年代：2003年6月创建人：陈冠希(EDISON)EDISON陈冠希2003年创办了自己的服装品牌CLOT，在上海,北京,香港等地开有Clot潮流店铺：ACU、JUICE，努力成为中国第一潮牌!EDISON近两年创办了自己的服装品牌CLOT,并自己参与服装的设计、用料等各个方面,成为中国第一潮牌,并在世界上都有一定的影力...
        %br
        国家：中国创建年代：2005年(2007年开始对外发售)产品类别：T恤、外套、卫衣、帽子等创始人：李晨2005年李晨为自己生日出的第一款限量版Tee，有彩色、黑白、镶钻三款，镶钻那款不对外出售，只送好友。2006年李晨为自己生日出了第二款全镶钻Tee，也是限量版。2007年李晨发行第三波原创Tee，并成立自家街头品牌...
        %br
        2007年，上海日播实业有限公司投资创立广州腾羿服饰有限公司，以“A Different View !不同的答案!”的品牌核心理念，打造潮牌——CRZ，以国际性的设计与创意团队，优质的终端管理体系，于2008年7月进入国内市场。A Different View!不同的答案CRZ，一个主张“A Different View !不同的答案!”的轻潮牌...
        %br
        SUBCREW 的概念始于2002年的夏天，2005年于香港正式成立SUBCREW react 团队。由Sam Lee李灿森主理设计。Sam Lee 李灿森解释SUBCREW 的概念时说：Subcrew 的意思是“来自潜水艇的一群人”。因为我们一般都是在相对地下的情况下工作，工作的时候一般人是看不到也不知道的。我希望把东西呈现出来的时候再给大...
        %br
        THETHING专业从事潮流服装产品的设计生产，突出GRAPHIC图形设计成为品牌特色，期间不断对服装款型与图形设计结合做出创新，用天马行空、突破传统的风格为中国市场提供了纯正的设计制作工艺。THETHING品牌具有自己独特的态度，深信情绪、态度以及文化，都可以用服装语言来表达。THETHING坚持表达独立的审美与...
        %br
        台湾潮牌态度黑人(陈建洲)的力作态度的原意是：人们在自身道德观和价值观基础上对事物的评价和行为倾向。态度表现于对外界事物的内在感受(道德观和价值观)、情感(即“喜欢-厌恶”、“爱-恨”等)和意向(谋虑、企图等)三方面的构成要素。台湾潮流品牌“态度”是：台湾SFA公司和黑人(陈建洲)合作的一个潮牌...
        %br
        EBLIS HUNGI的品牌LOGO采用了木乃伊的形态——一个半开脑袋并溅出一滴血的木乃伊头像。品牌是做一个以牛仔为主打加以服饰，箱包为辅助的全系列完整的潮流品牌，公司重视每个时期的想法，每个阶段的创意都是一种资源，从创立EBLIS HUNGI至今，EBLIS HUNGI团队的信念和努力从没间断过Eblis hungi 品...
        %br
        不死熊猫，英文MESS(迈艾斯)MESS作为北京一家售卖高端潮流品牌的店铺，已经成为国内潮流文化的风向标。在数年研究，接触潮流文化的过程中，积累了大量的运作经验和经营理念。2007年，在其首脑季明的发动下，成立并开发了其同名潮流品牌：不死熊猫。创造出了真正属于国人的潮流品牌。创造出真正属于中国人自己...
        %br
        LIVEBOX品牌创立于2008年，是近年来新崛起的一个时尚原创品牌。产品由一个充满活力的年轻团队设计，倡导“年轻也可以时尚，有趣更彰显个性”，产品以休闲时尚包包、服饰为主。2007年，从法国回归的年轻人创立MML GROUP并致力于平面设计的创作。2008年，MML GROUP将平面创作延伸到产品层面上，并开始筹备打造原...

      %h2.page-header 好看的潮牌有哪些？
      %p.content 太多了，之后慢慢举例，还有男装潮牌、女装潮牌、鞋帽潮牌、箱包潮牌。它们的网店也是之后给出！

%footer.container
  .row
    .col-md-12
      %h3.page_header 友情链接
      %p
        %a{href: "https://www.iquan.net"} 淘宝优惠券
        %a{href: "http://www.shikuaigou.com"} 粉丝福利购
        %a{href: "http://www.uuhaodian.com"} 优优好店
        %a{href: "http://car.uuhaodian.com"} 优优汽修帮手
        %a{href: "http://www.jidanguo.top"} 百香果
        %a{href: "http://www.gouwuzhinan.cn"} 购物指南
        %a{href: "http://www.xiongmao123.com"} 熊猫优选
      %p{style: "text-align: center;padding-bottom:50px;"}
        %a{href: "http://www.beian.miit.gov.cn"} 京ICP备17027610号-1
