%footer.footer
  %a.home.zh{href: "http://m.uuhaodian.com/index.php?r=index/wap&source=dazhe", target: "_blank", rel: "nofollow"}
    %img.icon{src: "/favicon.ico"}
    .text 更多优惠
  %a#more_btn.btn.zh{href: "https://18a12001.kuaizhan.com/#/app/down?appId=550416&productType=1&userId=0", target: "_blank", rel: "nofollow"} 下载APP成为合作伙伴

.scroll_top.close
  %a{href: "javascript:;"}
    %img{src: "/image/to_top.png"}
