- progress = (60..98).to_a.sample

%a{href: "javascript:;", target: "_blank", isconvert: 1}
  .product-item-t2
    .pic.lazy{data: {original: "#{coupon['pict_url']}"}}
    %p.title
      %span.post-free 包邮
      #{coupon["title"]}
    .price-area
      .price{style: "float:left"}
        %span> 折扣价￥
        %em.number-font #{coupon['zk_final_price']}
        %span{style: "color:#a8a8a8;text-decoration:line-through"} ￥#{coupon['reserve_price']}

