- title(@title)
- head_desc(@description)
- keywords(@page_keywords)
- path(@path)
- mobile_url(@path)

.dazhe
  = render partial: "/m_diyquan/search_header", locals: {keyword: "输入关键词开始找券"}
  .ha
    %h1 爱券网 - 优惠券分享 - 朋友圈素材
    - @fcs.each do |f|
      %a{href: "/fc/#{f[:id]}/"}
        .ha{style: "border-bottom: 1px solid #e7e7e7;"}
          %p.desc
            #{URI.decode(f[:content]).gsub("\n", "<br/>").html_safe}
  = render partial: "/m_diyquan/footer"
