- title(@title)
- head_desc(@description)
- keywords(@page_keywords)
- path(@path)
- h1(@h1)

.wrapper
  = render partial: "m_diyquan/header", locals: {need_sort: false, need_ads: true}
  = render partial: "m_diyquan/page_js", locals: {path: '/getSearchCouponList', pinyin: '', keyword: '手机壳', pagesize: 20, sort_type: 1}
  = render partial: "m_diyquan/uatm_shuangpai_list", locals: {coupons: @coupons}
