.footer
  .footer-top
    .wrapper
      .yl
        %p.head 友情链接：
        .yl-links
          %a{href: "/map_k/", title: "淘宝天猫旗舰店铺通用优惠券"} 通用优惠券
          %a{href: "/dianpu/", title: "淘宝天猫旗舰店铺排行榜"} 淘宝天猫旗舰店排行榜
          - if @path
            %a{href: "http://m.iquan.net#{@path}"} 移动页
      .logo-slogan
        .qr-code
          %a{href: "/", title: "淘宝优惠券"}
            %img{src: "/image/love.jpg"}
        .txt
          %p.s1 一定要加入搜藏呦！
          %p.s2 
  .footer-bottom
    .wrapper
      %p 
        爱券网 - 
        %a{href: "http://www.beian.miit.gov.cn/", target: "_blank", rel: "nofollow", style: "color: #ff6a00;"}京ICP备17027610号
