.footer
  .footer-top
    .wrapper
      .yl
        %p.head 友情链接：
        .yl-links
          %a{href: "/map_k/", title: "淘宝天猫旗舰店铺通用优惠券"} 通用优惠券
          %a{href: "/dianpu/", title: "淘宝天猫旗舰店铺排行榜"} 淘宝天猫旗舰店排行榜
          - if @path
            %a{href: "http://m.shikuaigou.com#{@path}"} 移动页
      .logo-slogan
        .qr-code
          %a{href: "/", title: "粉丝福利购"}
            %img{src: "/image/love.jpg"}
        .txt
          %p.s1 一定要加入搜藏呦！
          %p.s2 
  .footer-bootom
    .wrapper
      %p 十块购 - 京ICP备18009981号-2
