.footer
  .footer-top
    .wrapper
      .yl
        %p.head 友情链接：
        .yl-links
      .logo-slogan
        .qr-code
          %a{href: "/", title: "内部优惠券"}
            %img{src: "/image/love.jpg"}
        .txt
          %p.s1 一定要加入搜藏呦！
          %p.s2 
  .footer-bootom
    .wrapper
      %p 爱券网 - 京ICP备09073329号
