<header id="header" class="header">

  <div class="header-bar">
    <i class="close"></i>
    <div class="wrapper">
      <p class="coll-desc">请按键盘<strong style="color: rgba(255,100,52,1);font-size:15px;">Ctrl&nbsp;+&nbsp;D</strong>把爱券网放入收藏夹，优惠精选，遇见好店！</p>
    </div>
  </div>

  <div class="header-top">
    <div class="wrapper">
      <a class="logo-area" href="/" title="淘宝天猫优惠券" style="margin-top: 15px;">
        <img src="/image/logo.png" alt="爱券网" style="margin-left: -10px;">
      </a>
      <div class="search-area" style="width:498px;margin:23px 0 0 0">
        <div class="input-area" style="width:396px;"><i></i><input class="search-input unfocus" type="text" placeholder="粘贴宝贝标题或输入关键词" style="width:396px;"></div>
        <a href="javascript:;" class="search-btn" style="font-weight: bold;">找券</a>
        <div style="font-size:13px;position: relative;top:40px;height:20px;">
          <a style="position:relative;top:-35px;margin-right:15px;margin-left:15px;" href="/zhekou/%E7%BE%BD%E7%BB%92%E6%9C%8D/">羽绒服</a>
          <a style="color:red;position:relative;top:-35px;margin-right:15px;" href="/zhekou/%E5%8D%AB%E8%A1%A3/">卫衣</a>
          <a style="position:relative;top:-35px;margin-right:15px;" href="/zhekou/%E4%BF%9D%E6%B8%A9%E6%9D%AF/">保温杯</a>
          <a style="position:relative;top:-35px;margin-right:15px;" href="/zhekou/%E5%8A%A0%E6%B9%BF%E5%99%A8/">加湿器</a>
          <a style="position:relative;top:-35px;margin-right:15px;" href="/zhekou/%E6%89%93%E5%BA%95%E8%A3%A4/">打底裤</a>
          <a style="position:relative;top:-35px;margin-right:15px;" href="/zhekou/%E8%89%AF%E5%93%81%E9%93%BA%E5%AD%90/">良品铺子</a>
          <a style="position:relative;top:-35px;margin-right:15px;" href="/zhekou/%E7%81%AB%E9%B8%A1%E9%9D%A2/">火鸡面</a>
          <a style="color:red;position:relative;top:-35px;margin-right:15px;" href="/zhekou/%E9%99%A4%E8%9E%A8%E4%BB%AA/">除螨仪</a>
        </div>
      </div>
      <div style="float:left;margin-top:15px;margin-left:100px;">
        <a href="/lanlan_download/" title="爱券网app" target="_blank">
          <img src="https://l4.51fanli.net/event/attach/image/2015/08/55e3efff2bb03.png"></img>
        </a>
      </div>
    </div>
  </div>
  <div class="tab-area-plh">
    <div class="tab-area">
      <div class="wrapper">
        <div class="cate-area">
          <a data-ga-event="头部:点击:头部_精选推荐" href="/" class="cate-item jxtj active" title="淘宝优惠券"><span class="cate-rec"></span></a>
          <a id="header_download" data-ga-event="头部:点击:头部_爆款热销" href="/lanlan_download/" target="_blank" class="cate-item hot">APP下载</a>
          <a id="header_k9" data-ga-event="头部:点击:头部_9块9包邮" href="http://www.uuhaodian.com/collection/4/?from=iquan" class="cate-item">9块9包邮</a>
          <a id="header_baokuan" data-ga-event="头部:点击:头部_爆款热销" href="http://www.uuhaodian.com/collection/2/?from=iquan" class="cate-item">畅销榜</a>
          <a id="header_k20" data-ga-event="头部:点击:头部_20元封顶" href="http://www.uuhaodian.com/collection/1/?from=iquan" class="cate-item">聚特卖</a>
          <a id="header_zhibo" data-ga-event="头部:点击:头部_领券直播" href="http://uuhaodian.com/" class="cate-item" target="_blank">领券直播</a>
        </div>
        <div class="search-area">
          <i></i>
          <input class="search-input unfocus" type="text" placeholder="输入关键词">
          <p class="err-tip"><i class="err-tip-icon"></i>亲，请复制宝贝全称进行搜索~<i class="arr-up"></i></p>
        </div>
      </div>

      <div class="hori-cate-area">
        <div class="cate-l-1">
          <div class="wrapper ">
            <a class="" href="/fenlei/nvzhuang/">女装</a>
            <a class="" href="/fenlei/meishi/">美食</a>
            <a class="" href="/fenlei/shenghuo/">生活</a>
            <a class="" href="/fenlei/meizhuang/">美妆</a>
            <a class="" href="/fenlei/xiezi/">鞋子</a>
            <a class="" href="/fenlei/neiyi/">内衣</a>
            <a class="" href="/fenlei/nanzhuang/">男装</a>
            <a class="" href="/fenlei/muying/">母婴</a>
            <a class="" href="/fenlei/shuma/">数码</a>
            <a class="" href="/fenlei/peishi/">配饰</a>
            <a class="" href="/fenlei/chongwu/">宠物</a>
            <a class="" href="/fenlei/chengren/">成人</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</header>
<script type="text/javascript">
$(function(){
  var headerBar = $('.header-bar'),
  tabArea = $('#header .tab-area'),
  si = $('.search-input'),
  errTip = $('.err-tip'),
  sb = $('.search-btn');

  headerBar.find('.close').on('click',function(){
    headerBar.remove();
    var d = new Date();
    d.setTime(d.getTime()+(24*60*60*1000));
    $.cookie('hideHeaderBar',1,{
      path:'/',
      expires:d
    });
  });


  $(document).on('scroll',function(){
    var _top = $(document).scrollTop();
    if(_top >= 400){
      tabArea.addClass('fixed');
    }else{
      tabArea.removeClass('fixed');
    }
  });

  si.on('focus',function(){
    $(this).removeClass('unfocus');
  }).on('blur',function(){
    $(this).addClass('unfocus');
  }).on('keyup',function(e){
    var keycode = e.keyCode,
    q = $(this).val();

    $('.search-input.unfocus').val(q);

    if(keycode == 13 && q.trim()){
      goSearch(q.trim());
    }
    /*if(q.trim().match(/http|\.tmall|\.taobao/)){
      errTip.show();
    }else{
      errTip.hide();
    }*/
  });

  sb.on('click',function(){
    var q = $(si[0]).val();
    if(q.trim() && q.trim() != '输入关键词'){
      goSearch(q.trim());
    }
  });

  function goSearch(q){
    if(q.match(/http|\.tmall|\.taobao/)){
      window.location.href = '/tbzk/?keyword=' + encodeURIComponent(q);
      return;
    }
    window.location.href = 'https://www.uuhaodian.com/query/' + encodeURIComponent(q).replace(/\x/g, "%") + '/?from=iquan';
  }
});
</script>
