<header id="header" class="header">

  <div class="header-bar">
    <i class="close"></i>
    <div class="wrapper">
      <p class="coll-desc">按<strong>Ctrl&nbsp;+&nbsp;D</strong>加入收藏夹,网购优惠券,全网优惠券！</p>
    </div>
  </div>

  <div class="header-top">
    <div class="wrapper">
      <a class="logo-area" href="/" title="全网优惠券">
        <img src="/image/logo.jpg" alt="聚名品" class="logo">
        <img src="/image/slogan.png" alt="聚名品" class="slogan">
      </a>
      <div class="slogan-area">
        <i class="slogan-icon slogan-icon-1"></i>
        <p>正品好货</p>
        <i class="slogan-icon slogan-icon-2"></i>
        <p>人工精选</p>
        <i class="slogan-icon slogan-icon-3"></i>
        <p>专享优惠券</p>
        <i class="slogan-icon slogan-icon-4"></i>
        <p>全场包邮</p>
      </div>
      <div class="search-area">
        <div class="input-area"><i></i><input class="search-input unfocus" type="text" value="输入关键词"></div>
        <a href="javascript:;" class="search-btn">搜索</a>
        <p class="err-tip"><i class="err-tip-icon"></i>亲，请复制宝贝全称进行搜索~<i class="arr-up"></i></p>
      </div>
    </div>
  </div>
  <div class="tab-area-plh">
    <div class="tab-area">
      <div class="wrapper">
        <div class="cate-area">
          <a href="/" class="cate-item jxtj active" title="全网优惠券"><span class="cate-rec"></span></a>
          <a href="/map/keyword/k1.html" target="_blank" class="cate-item hot">优惠券导航</a>
          <a href="/map/shop/s1.html" target="_blank" class="cate-item">店铺优惠券导航</a>
        </div>
        <div class="search-area">
          <i></i>
          <input class="search-input unfocus" type="text" value="输入关键词">
          <p class="err-tip"><i class="err-tip-icon"></i>亲，请复制宝贝全称进行搜索~<i class="arr-up"></i></p>
        </div>
      </div>

      <div class="hori-cate-area">
        <div class="cate-l-1">
          <div class="wrapper ">

            <a class="" href="/wp/2049.html">女装</a>

            <a class="" href="/wp/2357.html">男装</a>

            <a class="" href="/wp/1988.html">鞋子</a>

            <a class="" href="/wp/175472.html">箱包</a>

            <a class="" href="/wp/70671.html">美妆</a>

            <a class="" href="/wp/26809.html">护肤</a>

            <a class="" href="/wp/82939.html">生活</a>

            <a class="" href="/wp/67493.html">居家</a>

            <a class="" href="/wp/165729.html">美食</a>

            <a class="" href="/wp/2753.html">内衣</a>

            <a class="" href="/wp/30487.html">运动</a>

            <a class="" href="/wp/6879.html">数码</a>

            <a class="" href="/wp/85889.html">母婴</a>

            <a class="" href="/wp/47193.html">配饰</a>

            <a class="" href="/wp/8193.html">成人</a>

            <a class="" href="/wp/7465.html">宠物</a>

          </div>
        </div>
      </div>

    </div>
  </div>
</header>
<script type="text/javascript">
$(function(){
  var headerBar = $('.header-bar'),
  tabArea = $('#header .tab-area'),
  si = $('.search-input'),
  errTip = $('.err-tip'),
  sb = $('.search-btn');

  headerBar.find('.close').on('click',function(){
    headerBar.remove();
    var d = new Date();
    d.setTime(d.getTime()+(24*60*60*1000));
    $.cookie('hideHeaderBar',1,{
      path:'/',
      expires:d
    });
  });


  $(document).on('scroll',function(){
    var _top = $(document).scrollTop();
    if(_top >= 400){
      tabArea.addClass('fixed');
    }else{
      tabArea.removeClass('fixed');
    }
  });

  si.on('focus',function(){
    if($(this).val() == '输入关键词'){
      si.val('');
    }
    $(this).removeClass('unfocus');
  }).on('blur',function(){
    if($(this).val() == ''){
      si.val('输入关键词');
    }
    $(this).addClass('unfocus');
  }).on('keyup',function(e){
    var keycode = e.keyCode,
    q = $(this).val();

    $('.search-input.unfocus').val(q);

    if(keycode == 13 && q.trim()){
      goSearch(q.trim());
    }
    if(q.trim().match(/http|\.tmall|\.taobao/)){
      errTip.show();
    }else{
      errTip.hide();
    }
  });

  sb.on('click',function(){
    var q = $(si[0]).val();
    if(q.trim() && q.trim() != '输入关键词'){
      goSearch(q.trim());
    }
  });

  function goSearch(q){
    if(q.match(/http|\.tmall|\.taobao/)){
      return;
    }
    window.location.href = 'http://www.uuhaodian.com/query/' + encodeURIComponent(q) + '/?channel=13';
  }
});
</script>
