.footer
  .footer-top
    .wrapper
      .yl
        %p.head 友情链接：
        .yl-links
          %a{href: "https://www.iquan.net", target: "_blank"} 优惠券
          %a{href: "http://www.shikuaigou.com", target: "_blank"} 天天特价
          %a{href: "http://www.vxixi.com", target: "_blank"} 羽毛球
          %a{href: "http://www.jidanguo.top", target: "_blank"} 百香果
          %a{href: "http://www.ddzhusu.com", target: "_blank"} 滴滴住宿
          - @kk.each do |k|
            %a{href: "/wp/#{k[0]}.html"} #{k[1]}
      .logo-slogan
        .qr-code
          %a{href: "/", title: "全网优惠券"}
            %img{src: "/image/love1.jpg"}
        .txt
          %p.s1 全网优惠券
          %p.s2 便宜好货超值购！
  .footer-bootom
    .wrapper
      %p 打折促销活动,便宜好货超值购,全网网购优惠券 - 17430优惠券
