.footer
  .footer-top
    .wrapper
      .yl
        %p.head 友情链接：
        .yl-links
          - if links
            - links.each do |link|
              %a{href: "#{link.url}", target: "_blank"} #{link.anchor}
      .logo-slogan
        .qr-code
          %a{href: "/", title: "天猫优惠券"}
            %img{src: "/image/love1.jpg"}
        .txt
          %p.s1 天猫优惠券APP
          %p.s2 一折特卖，天天省钱！
  .footer-bootom
    .wrapper
      %p 聚划算聚优品 - 闽ICP备08010074号-1
