.footer
  .footer-top
    .wrapper
      .yl
        %p.head 友情链接：
        .yl-links
          %a{href: "https://www.uuhaodian.com", target: "_blank"} 京东优惠券
          %a{href: "https://www.iquan.net", target: "_blank"} 淘宝优惠券
          %a{href: "http://www.shikuaigou.com", target: "_blank"} 福利购
          %a{href: "http://www.xiongmao123.com", target: "_blank"} 装饰画
          %a{href: "http://www.jidanguo.top", target: "_blank"} 百香果的功效与作用
          %a{href: "http://www.ddzhusu.com", target: "_blank"} 特色民宿客栈
          %a{href: "http://www.vxixi.com", target: "_blank"} 羽毛球
          %a{href: "http://www.gouwuzhinan.cn", target: "_blank"} 购物指南
          - @kk.each do |k|
            %a{href: "/wp/#{k.id}.html"} #{k.keyword}
      .logo-slogan
        .qr-code{style: "width: 120px;height:120px;"}
          %a{href: "/", title: "便宜网购商城"}
            %img{src: "https://www.uuhaodian.com/img/lbanner1.png", style: "width: 116px;height:116px;"}
        .txt
          %p.s1 关注公众号
          %p.s2 便宜好货超值购！
  .footer-bootom
    .wrapper
      %p 2020淘宝双十二来袭 - 特价折扣平台 - 便宜网购商城
