<div class="wrapper home-oper-area" style="height:290px;">
  <div class="cate-area" style="height:270px;">

    <a data-ga-event="首页:点击:首页_分类_女装" href="/category/1321/" class="cate-item with-line">
      <div class="inner"><i class="cate-icon ci-nvzhuang"></i>女装</div>
    </a>

    <a data-ga-event="首页:点击:首页_分类_男装" href="/category/1327/" class="cate-item">
      <div class="inner"><i class="cate-icon ci-nanzhuang"></i>男装</div>
    </a>

    <a data-ga-event="首页:点击:首页_分类_鞋子" href="/category/1325/" class="cate-item with-line">
      <div class="inner"><i class="cate-icon ci-xiezi"></i>鞋包</div>
    </a>

    <a data-ga-event="首页:点击:首页_分类_美妆" href="/category/1324/" class="cate-item with-line">
      <div class="inner"><i class="cate-icon ci-meizhuang"></i>美妆</div>
    </a>

    <a data-ga-event="首页:点击:首页_分类_生活" href="/category/1323/" class="cate-item with-line">
      <div class="inner"><i class="cate-icon ci-shenghuo"></i>百货</div>
    </a>

    <a data-ga-event="首页:点击:首页_分类_美食" href="/category/1322/" class="cate-item with-line">
      <div class="inner"><i class="cate-icon ci-meishi"></i>美食</div>
    </a>

    <a data-ga-event="首页:点击:首页_分类_内衣" href="/category/1326/" class="cate-item with-line">
      <div class="inner"><i class="cate-icon ci-neiyi"></i>内衣</div>
    </a>

    <a data-ga-event="首页:点击:首页_分类_母婴" href="/category/1328/" class="cate-item">
      <div class="inner"><i class="cate-icon ci-muying"></i>母婴</div>
    </a>

    <a data-ga-event="首页:点击:首页_分类_配饰" href="/category/1330/" class="cate-item with-line">
      <div class="inner"><i class="cate-icon ci-peishi"></i>配饰</div>
    </a>

    <a data-ga-event="首页:点击:首页_分类_成人" href="/category/1332/" class="cate-item">
      <div class="inner"><i class="cate-icon ci-chengren"></i>成人</div>
    </a>

    <a data-ga-event="首页:点击:首页_分类_手机周边" href="/category/1329/" class="cate-item with-line last">
      <div class="inner"><i class="cate-icon ci-shuma"></i>手机</div>
    </a>
    <a data-ga-event="首页:点击:首页_分类_其他" href="/category/1331/" class="cate-item last">
      <div class="inner"><i class="cate-icon ci-jujia"></i>其他</div>
    </a>

  </div>
  <div class="banner-top" style="height:270px;">
    <div class="banner-area swiper-container swiper-container-horizontal" style="width: 675px;height:270px;">
      <div class="swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(-660px, 0px, 0px);">
        <% @banners.each do |banner| %>
          <a class="swiper-slide" href="<%= banner["link_url"] %>" target="_blank">
            <img style="width: 100%;" src="<%= banner["img_url"]%>">
          </a>
        <% end %>
      </div>
      <div class="swiper-bottom">
        <div class="swiper-pager"></div>
      </div>
    </div>

    <div class="top-right-banner" style="width:185px;height:270px;background-color:white;">
      <img src="/image/lbanner1.png">
      <img src="/image/lbanner2.png" style="margin-top:10px;">
    </div>

  </div>
</div>
