%footer.footer
  .footer-top
    .wrapper
      .yl
        %p.head 友情链接：
        .yl-links
          - if links
            - links.each do |link|
              %a{href: "#{link.url}", target: "_blank"} #{link.anchor}
      .logo-slogan
        .qr-code
          %a{href: "/"}
            %img{src: "https://thumbnail.dataoke.com/img/dtk/app/20181101/2018110109135957866123.png?t=1545916514"}
        .txt
          %p.s1 扫码下载十块购APP
          %p.s2 粉丝福利购 天天特价！
  .footer-bootom
    .wrapper
      %p 「十块购官网」粉丝福利购,淘宝天猫特价好货,天天特价,今日特价! - 京ICP备18009981号-2
