- title(@title)
- head_desc(@description)
- keywords(@page_keywords)
- path(@path)
- mobile_url(@path)
- h1(@h1)

.wrapper.collection-wrapper
  %div{style: "margin-top:20px"}
  = render partial: "diyquan/quan_list", locals: {coupons: @coupons}
  = render partial: "diyquan/load_more", locals: {path: '/getHotCouponList', pinyin: '', keyword: '', pagesize: 20, wclass: '.collection-wrapper'}
:javascript
  $('#header_baokuan').addClass('active');

= render partial: "diyquan/footer"
