- title(@title)
- head_desc(@description)
- keywords(@page_keywords)
- path(@path)
- mobile_url(@path)
- h1(@h1)

- if @category
  = render partial: "diyquan/header_fenlei", locals: {category: @category}
.wrapper.home-wrapper
  %div{style: "margin-top:20px"}
  = render partial: "diyquan/tb_quan_list", locals: {zhekous: @zhekous, coupons: []}

= render partial: "diyquan/home_footer", locals: {links: @links}
