- title("2020淘宝双旦节_便宜网购商城")
- head_desc("便宜网购商城（www.17430.com.cn）为大家筛选今年淘宝双旦节（圣诞节、元旦）的折扣特价商品，活动期间天天有便宜好货等着您！今年的活动包含跨店满减、幸运红包、定金立减、商品优惠券等等，惊喜不断，快来买买买吧！")
- keywords("17430优惠券,便宜网购商城,打折平台,特价,淘宝双旦节,淘宝圣诞节,淘宝新年活动")
- h1("便宜网购商城")

= render partial: "diyquan/home_adzone"
.wrapper.home-wrapper
  = render partial: "diyquan/quan_list", locals: {coupons: @coupons}
  = render partial: "diyquan/load_more", locals: {path: 'https://api.uuhaodian.com/uu/home_list', pinyin: '', keyword: '', pagesize: 20, wclass: '.home-wrapper'}

= render partial: "diyquan/home_footer"
