- title("天猫淘宝年终大促销活动入口,年底双旦节折扣特卖优惠券,年终奖金好去处")
- head_desc("聚划算聚优品（www.17430.com.cn）天猫淘宝年终大促销活动入口，年终奖金不够多舍不得花？年终奖金太丰厚还没想好怎么花？年底双旦节折扣特卖优惠券帮你解决这个烦恼。精选天猫商城和淘宝优质折扣商品，每天几百款九块九包邮、1元秒杀、9.9包邮及九块邮特价秒杀商品，为大家提供极致网购体验及真正物美价廉的商品！")
- keywords("天猫年终大促,淘宝年终大促,年终奖,年终奖金,年底促销,年末促销,天猫优惠,天猫优惠券,双旦节,双旦节折扣,双旦节特卖,年终奖去处,聚优品,聚划算聚优品")
- h1("淘宝天猫年终大促销活动入口")

= render partial: "diyquan/home_adzone"
.wrapper.home-wrapper
  = render partial: "diyquan/quan_list", locals: {coupons: @coupons}
  = render partial: "diyquan/load_more", locals: {path: '/getHomeCouponList', pinyin: '', keyword: '', pagesize: 20, wclass: '.home-wrapper'}

= render partial: "diyquan/home_footer", locals: {links: @links}
