- title("天猫双十二优惠券,天猫12优惠券领取,天猫商城优惠券-聚划算聚优品")
- head_desc("聚划算聚优品（www.17430.com.cn）天猫双12优惠券领取,天猫双十二优惠券同步更新，精选天猫商城和淘宝优质折扣商品，每天几百款九块九包邮、1元秒杀、9.9包邮及九块邮特价秒杀商品，为大家提供极致网购体验及真正物美价廉的商品！")
- keywords("天猫优惠券,天猫优惠券领取,天猫超市优惠券领取,天猫领券,天猫商城优惠券,淘宝商城优惠券,天猫优惠,天猫超市券,天猫折扣,聚优品官网,天猫领取优惠券,天猫网优惠券,天猫精品优惠券,天猫优惠劵网站,优惠券网购平台,天猫超市优惠券,领取天猫优惠券,天猫优惠价,网购优惠券,聚优品,聚划算聚优品")
- h1("优惠券网站 - 天猫优惠券 - 淘宝优惠券")

= render partial: "diyquan/home_adzone"
.wrapper.home-wrapper
  = render partial: "diyquan/quan_list", locals: {coupons: @coupons}
  = render partial: "diyquan/load_more", locals: {path: '/getHomeCouponList', pinyin: '', keyword: '', pagesize: 20, wclass: '.home-wrapper'}

= render partial: "diyquan/home_footer", locals: {links: @links}
