- title(@title)
- head_desc(@description)
- keywords(@page_keywords)
- path(@path)
- mobile_url(@path)
- h1(@h1)

- if @category
  = render partial: "diyquan/header_fenlei", locals: {category: @category}
.wrapper.home-wrapper
  %div{style: "margin-top:20px"}
  = render partial: "diyquan/lanlan_quan_list", locals: {coupons: @coupons}
  = render partial: "diyquan/lanlan_load_more", locals: {path: '/getLanlanTypeCouponList', type: 2, sort_type: 0, pagesize: 20, keyword: '', pinyin: '', wclass: '.search-result'}

:javascript
  $('#header_baokuan').addClass('active');

= render partial: "diyquan/home_footer", locals: {links: @links}
