- title(@title)
- head_desc(@description)
- keywords(@page_keywords)
- path(@path)
- mobile_url(@path)
- h1(@h1)

.wrapper
  .rel-zk-area
    %p.head 
      %span 专场推荐
  = render partial: "diyquan/quan_list", locals: {coupons: @coupons}

= render partial: "diyquan/footer"
