%p.search-res-title
  %a{href: "/", title: "淘宝优惠券"} 淘宝优惠券
  %span &nbsp;&nbsp;#{">"}&nbsp;&nbsp;
  %a{href: "/dianpu/", title: "淘宝天猫京东店铺大全"} 淘宝天猫京东店铺大全
  %span &nbsp;&nbsp;#{">"}&nbsp;&nbsp;
  %span #{title}

