.order-area
  %ul.sort-type
    %li{id: "li-sort-7", data: {sort: "0"}, class: "sort_li active"} 综合
    %li{id: "li-sort-1", data: {sort: "11"}, class: "sort_li"} 上新
    %li{id: "li-sort-4", data: {sort: "6"}, class: "sort_li"} 销量
    %li{id: "li-sort-3", data: {sort: "9"}, class: "sort_li"} 价格
    %li{id: "li-sort-3", data: {sort: "8"}, class: "sort_li"} 大额券
