.footer
  .footer-top
    .wrapper
      .yl
        %p.head 友情链接：
        .yl-links
          %a{href: "/"} 优惠券
          %a{href: "http://www.shikuaigou.com"} 天天特价
          %a{href: "http://www.vxixi.com"} 羽毛球
          %a{href: "http://www.ddzhusu.com"} 滴滴住宿
          %a{href: "http://www.17430.com.cn"} 全网优惠券
      .logo-slogan
        .qr-code
          %a{href: "/", title: "优惠券"}
            %img{src: "/image/love.jpg"}
        .txt
          %p.s1 一定要加入搜藏呦！
          %p.s2 
  .footer-bottom
    .wrapper
      %p 爱券网 - 京ICP备17027610号
