.tab-area#tab_area
  .wrapper
    .cate-area
      %a.cate-item.jxtj.active{href: "/"}
        %span.cate-rec
      %a.cate-item.hot{href: "/ddkrec/1/", target: "_blank"} 1.9包邮
      %a.cate-item{href: "/ddkrec/2/"} 今日爆款
      %a.cate-item{href: "/ddkrec/3/"} 品牌清仓
    .search-area
      %i
      %input.search-input.unfocus{type: "text", placeholder: "粘贴宝贝标题或输入关键词"}
  .hori-cate-area
    .cate-l-1
      .wrapper
        - if @cates
          - @cates.each do |cate|
            - is_active = cate['cid'] == @cid || cate['cid'] == @cid_1 ? 'active' : ''
            %a{href: "/ddkcate/#{cate["cid"]}/", class: "#{is_active}"} #{cate["name"]}
