.rel-zk-area
  %p.head
    %span 精选站点为您推荐
  %p{style: "background-color: #fff;margin: 20px 0;padding: 20px;line-height: 30px;"}
    最近在各处搜集的各种工具类和信息类站点，快加入收藏吧，总会用得上：
    %a{href: "https://www.uuhaodian.com", style: "padding: 0 10px 0 0;"} 京东优惠券
    %a{href: "https://www.iquan.net", style: "padding: 0 10px 0 0;"} 淘宝优惠券
    %a{href: "http://www.shikuaigou.com", style: "padding: 0 10px 0 0;"} 福利购
    %a{href: "http://www.xiongmao123.com", style: "padding: 0 10px 0 0;"} 装饰画
    %a{href: "http://www.jidanguo.top", style: "padding: 0 10px 0 0;"} 百香果的功效与作用
    %a{href: "http://www.17430.com.cn", style: "padding: 0 10px 0 0;"} 便宜网购商城
    %a{href: "http://www.vxixi.com", style: "padding: 0 10px 0 0;"} 羽毛球
    %a{href: "http://www.gouwuzhinan.cn", style: "padding: 0 10px 0 0;"} 购物指南
    %a{href: "http://www.ddzhusu.com", style: "padding: 0 10px 0 0;"} 特色民宿客栈
