<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <title><%= yield(:title) %></title>
    <meta name="keywords" content="<%= yield(:keywords)%>">
    <meta name="description" content="<%= yield(:head_desc)%>">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta name="applicable-device" content="pc">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="/css/jidanguo_common.css">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
